@import './partials/variables';
@import './partials/mixing';
@import './partials/common';
@import './partials/navbar2';
@import './partials/navbar';
@import './partials/particles';
@import './partials/home/Home';
@import './partials/singleCourse';
@import './partials/auth/auth';
@import './partials/notifications';
@import './partials/dashboard/dashboard';
@import './partials/courses';
@import './partials/checkout';
@import './partials/payment';
@import './partials/categories';
@import './partials/subCategories';
@import './partials/lessons.scss';
@import './partials/supportedBrowsers';
@import './partials/notFound';
@import './partials/about-us';

.devMsg {
  background-color: red;
  display: none;
  align-items: center;
  padding: 15px;
  font-size: 25px;
  position: fixed;
  bottom: 0;
  color: white;
  left: 0;
  z-index: 10000;
  width: 100%;
}
