.about-banner {
  margin-top: 80px;
  height: 250px;
  width: 100%;
  background-image: url('/assets/images/footer/footer-background.png');
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .title {
    font-size: 3.3rem;
  }
  .tagline {
    color: #aaa;
  }
  .social {
    a {
      .icon {
        margin: 15px;
        border: 1px solid rgb(44, 20, 165);
        height: 45px;
        width: 45px;
        padding: 10px;
      }
    }
  }
}
.about-us-container {
  padding: 15px;
  margin-top: 30px;
  min-height: 100vh;
  .heading {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 3rem;
  }

  .sub-heading {
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 2.2rem;
    color: #39b54a;
    font-weight: 600;
  }
  P {
    font-size: 2rem;
    line-height: 4rem;
    margin-bottom: 2.5rem;
    color: #444;
  }

  .our-team {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;

    .team-member {
      flex-basis: 20%;
      margin-bottom: 20px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
      @media (max-width: 768px) {
        flex-basis: 45%;
      }
      @media (max-width: 576px) {
        flex-basis: 100%;
      }
      img {
        width: 200px;
        height: 200px;
        padding: 10px;
        margin: 10px auto;
        object-fit: cover;
        border: 2px solid #ddd;
        border-radius: 50%;
      }
      .member-info {
        padding: 10px;
        text-align: center;
        .name {
          font-size: 16px;
          color: #444;
          font-weight: 600;
        }
        .designation {
          font-size: 14px;
          color: #777;
        }
      }
    }
  }

  .info-collection {
    border: none;
    outline: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    align-content: center;
    color: #444;
    margin-left: 15px;
    cursor: unset;

    .btn {
      border-radius: 50%;
      height: 30px;
      width: 30px;
      outline: none;
      border: 1px solid #ddd;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.8rem;
      background-color: #eee;
      flex-shrink: 0;
      color: #444;
      cursor: unset;
    }
    span {
      font-size: 1.6rem;
      margin-left: 15px;
      text-align: left;
    }
  }
  .info-col-after {
    height: 3rem;
    width: 1px;
    background-color: #ddd;
    margin-left: 45px;
  }
  .update {
    font-size: 1.5rem;
  }
  @media screen and (max-width: 992px) {
    .heading {
      font-size: 3rem;
    }
    .sub-heading {
      font-size: 2.8rem;
    }
    p {
      font-size: 2.5rem;
    }
  }
  .contact {
    .contact-info {
      font-size: 2rem;
      .icon {
        color: #39b54a;
      }
      span {
        margin-left: 10px;
      }
    }
    .social {
      a {
        .icon {
          margin: 15px;
          border: 1px solid #39b54a;
          border-radius: 50%;
          padding: 10px;
          height: 45px;
          width: 45px;
        }
      }
    }
  }
}
