.contact-section {
  width: 100%;
  min-height: 100%;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .contact-container {
    background: #052541;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 90px 0px 88px 0px;
    margin-top: 50px;
    margin-bottom: -53px;

    @media #{$xls} {
      padding: 90px 80px 88px 90px;
    }

    @media #{$large} {
      padding: 90px 80px 88px 80px;
    }

    @media #{$small} {
      padding: 90px 15px 88px 15px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  .contact-img {
    width: 318px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    .contact_top {
      padding: 15px 30px 15px;
      border-bottom: 1px solid #6e6e6e;
      background-color: #1d1d1d73;
      border-radius: 10px 10px 0 0;
      width: 100%;
      text-align: center;
      .title {
        h3 {
          font-size: 25px;
          margin-top: 20px;
        }
      }
      .top_img {
        width: 60px;
      }
    }
    .contact_bottom {
      width: 100%;
      padding: 0px 20px 15px;
      background: #1d1d1d73;
      .info_box {
        color: #fff;
        display: flex;
        align-items: flex-start;
        gap: 15px;
        margin-top: 40px;
        .icon_left {
          width: 65px;
          height: 50px;
          background: #39b54a2e;
          box-shadow: 1px 5px 26px 2px rgb(16 16 16 / 33%);
          margin-bottom: 30px;
          line-height: 50px;
          text-align: center;
          border-radius: 50%;
          .info_icon {
            font-size: 20px;
            color: #2be0f7;
          }
        }
        .bottom_img {
          width: 30px;
          height: 30px;
        }
        .info_text {
          width: 100%;
          p {
            font-size: 15px;
            line-height: 30px;
            margin-bottom: 0;
          }
          h5 {
            font-size: 20px;
            font-weight: 500;
            margin-top: -8px;
            margin-bottom: 5px;
          }
        }
      }
      .info_footer {
        margin-top: 16px;
        h4 {
          color: #fff;
          font-size: 22px;
          text-align: center;
        }
        .social {
          display: flex;
          gap: 15px;
          margin-top: 15px;
          padding-bottom: 10px;
          justify-content: center;
          .contact_icon {
            color: #2be0f7;
            font-size: 20px;
            cursor: pointer;
          }
        }
      }
    }

    @media (max-width: 1200px) {
      // width: 33.5%;
    }

    @media (max-width: 992px) {
      // .contact-img {
      //   width: 35%;
      // }
    }

    @media (max-width: 768px) {
      display: none;
    }

    img {
      max-width: 100%;
      width: 100%;
    }
  }

  .contact-form {
    width: 390px;

    @media #{$xxl} {
      width: 44%;
    }

    @media #{$xls} {
      width: 55%;
    }

    @media #{$large} {
      width: 100%;
    }

    .contact-form-title {
      display: block;
      font-size: 24px;
      color: #fff;
      font-weight: 600;
      line-height: 1.2;
      text-align: center;
      padding-bottom: 44px;
    }

    .wrap-input {
      position: relative;
      width: 100%;
      z-index: 1;
      margin-bottom: 20px;
    }

    .validate-input {
      position: relative;
    }

    .input {
      height: 50px;
      border-radius: 7px;
      padding: 15px 30px;
      border: 0;
      outline: 0;
      display: block;
      width: 100%;
      background: #fff;
      font-size: 20px;
      line-height: 1.5;
      color: #444;

      .shadow-input {
        border-radius: 7px;
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        box-shadow: 0px 0px 0px 0px;
        color: rgba(87, 184, 70, 0.5);
      }
    }

    textarea {
      min-height: 150px;
      border-radius: 25px;
      padding: 12px 30px;

      .shadow-input {
        border-radius: 7px;
      }
    }

    .contact-container-form-btn {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .contact-form-btn {
        // min-width: 193px;
        width: 100%;
        height: 50px;
        border-radius: 7px;
        background: $primaryBtnColor;
        font-size: 18px;
        line-height: 1.5;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 25px;
        transition: all 0.4s;
        border: 0;
        outline: 0;

        i {
          margin-left: 7px;
          transition: all 0.4s;
        }

        &:hover {
          background: $secondaryBtnColor;

          i {
            transform: translateX(10px);
          }
        }
      }
    }
  }
}
