.dashboard_top_right {
  button#dropdownMenuButton2 {
    height: 57px;
  }
  .profile_icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid;
    padding: 2px;
  }

  .profile_icon img {
    width: 100%;
  }
  display: flex;
  align-items: center;
  padding-right: 40px;
  .notification_button {
    background: none !important;
    font-size: 30px;
    color: #349765;
    border: none;
  }
  .profile_button {
    background: none !important;
    font-size: 30px;
    color: #08d36e;
    border: none;
  }
  .profile_name {
    font-size: 14px;
    font-weight: 600;
  }
  .profile_email {
    font-size: 14px;
    font-weight: 500;
  }
  .notification_email {
    font-size: 12px;
    font-weight: 400;
  }
  .d_width {
    width: 195px;
  }
  .dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: '';
    border-top: unset !important;
    border-right: unset !important;
    border-bottom: 0;
    border-left: unset !important;
  }
  .dropdown-menu[data-bs-popper] {
    top: 100%;
    left: -159px;
    margin-top: 6px;
    padding: 15px;
  }
  .dropdown-item {
    font-size: 15px;
    white-space: unset;
  }
  .item_notification {
    font-size: 12px;
    white-space: unset;
  }
}
